* {
    box-sizing: border-box;
}

body {
    background-image: url("../Images/photography-of-macbook-half-opened-on-white-wooden-surface-633409.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbotron {
    padding: 0px;
}

.display-4 {
    font-family: "Dancing Script", cursive;
    font-size: 80px;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    -webkit-animation-timing-function: linear;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    color: white;
}

@-webkit-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 120px;
    }
}

.nav-link {
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-family: "Gloria Hallelujah", cursive;
    color: white;
}

.nav-item {
    padding: 20px;
}

.navbar-toggler {
    background-color: white;
}

.navbar-light {
    color: white;
}

.navbar-toggler-icon {
    background-color: black;
}

.container-contact {
    padding: 20px;
    margin-left: -10px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
}

hr {
    background-color: white;
}

.form-group {
    padding: 20px;
    margin-left: -10px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-size: 20px;
}

.was-validated {
    margin-top: 90px;
    padding: 20px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-size: 20px;
    margin-left: 50px;
}

.form {
    font-size: 20px;
}

h3 {
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    margin-top: 25px;
    margin-left: 30px;
}

.footer {
    text-align: center;
    padding-top: 15px;
    text-align: left;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-family: "Bangers", cursive;
    color: white;
    font-size: 30px;
}