* {
    box-sizing: border-box;
}

body {
    background-image: url("");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    padding: 0px;
}

.display-4 {
    font-size: 90px;
    font-family: "Mogra", cursive;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    -webkit-animation-timing-function: linear;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    margin-top: 50px;
}

@-webkit-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 120px;
    }
}

.nav-link {
    font-size: 40px;
    font-family: "Lemonada", cursive;
    font-family: "VT323", monospace;
    font-family: "Lacquer", sans-serif;
}

.nav-item {
    padding: 20px;
}

.navbar-toggler {
    background-color: white;
}

.navbar-light {
    color: white;
}

.about {
    margin-top: 40px;
    font-size: 70px;
    font-family: "Lemonada", cursive;
    font-family: "VT323", monospace;
}

.container-work {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.container-work img {
    vertical-align: middle;
}

.container-work .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 465px;
    padding: 5px;
    font-family: "Lemonada", cursive;
}

.img-fluid:hover {
    cursor: pointer;
}

.img-fluid {
    margin-top: 100px;
}

.footer {
    text-align: center;
    padding-top: 15px;
    text-align: left;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-family: "Bangers", cursive;
    color: white;
    font-size: 30px;
}