* {
    box-sizing: border-box;
}

.jumbotron {
    padding: 0px;
}

.display-4 {
    font-family: "Dancing Script", cursive;
    font-size: 80px;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    -webkit-animation-timing-function: linear;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@-webkit-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 120px;
    }
}

.nav-link {
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-family: "Gloria Hallelujah", cursive;
}

.nav-item {
    padding: 20px;
}

.col-sm-6 {}

.col-sm-3 {
    border: 1px solid black;
}

.about {
    margin-top: 50px;
    margin-left: 35px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
    font-family: "Gloria Hallelujah", cursive;
}

.fab {
    color: black;
}

.fab:hover {
    cursor: pointer;
    color: red;
}

img {
    border-radius: 10%;
}

.row {
    margin: 40px;
}

.footer {
    text-align: center;
    padding-top: 15px;
}

p {
    font-size: 25px;
    line-height: 2.5rem;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
}

.row .footer {
    background-color: grey;
}

.dropdown {
    margin-top: 30px;
}


/* Contact page*/

.container-contact {
    padding: 20px;
    background-color: #ffffff;
    margin-left: -10px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
}

.form-control {}

.form-group {
    padding: 20px;
    background-color: #ffffff;
    margin-left: -10px;
    font-family: "Dancing Script", cursive;
    font-family: "Shadows Into Light", cursive;
    font-family: "Caveat", cursive;
    font-family: "Courgette", cursive;
}

.was-validated {
    margin-top: 70px;
    padding: 20px;
}